<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>

<h1>



All My Exercises
<br>
<%#= Exercise.all.where(title: "HSPU") %>
</h1>


ALL EXERCISES BY CREATION DATE:
<br><br>
<p> Exercise Name &nbsp;&nbsp;&nbsp;&nbsp; || &nbsp;&nbsp;&nbsp;&nbsp; Workout Description</p>
<% @exercise.each do |w| %>

<p>

		<a href="">
	Exercise Name:  <%= w.title %> <%= w.id %> 
		</a>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

			
   	Workout: <%= w.workout.description %>	<%= w.workout.id %>
 			
 	<%= link_to 'Details', user_workout_exercises_path(params[:user_id], w.workout.id) %>
  
   
   </p> 

<% end %>


<% end %>

<%= link_to 'Back To All Workouts', user_workouts_path %>

<% console %>

</body>
</html>