<!DOCTYPE html>
<html>
<head>
	<title></title>

<%= params %>
<br>
TITLE &nbsp;&nbsp;&nbsp;  <%= @workout.description %>
<br>
DATE  &nbsp;&nbsp;&nbsp; <%= @workout.date %>

</head>
<body>
<br>
<%= link_to 'Back To All Workouts', index_path %>
<% console %>
</body>
</html>