

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>

<h1>
<br>
TITLE &nbsp;&nbsp;&nbsp;  <%= @workout.description %>
<br>
DATE  &nbsp;&nbsp;&nbsp; <%= @workout.date %>

<br>
<%= link_to 'Back To My Workouts', user_workouts_path %>
<% console %>
</h1>
<% end %>
