<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>

<%= params %>
<br>
TITLE &nbsp;&nbsp;&nbsp;  <%= @workout.description %>
<br>
DATE  &nbsp;&nbsp;&nbsp; <%= @workout.date %>

<br>
<%= link_to 'Back To All Workouts', user_workouts_path %>
<% console %>
</body>
<% end %>
</html>