<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<h1>Login!</h1>

<%= form_tag login_form_path do %>

email: <%= text_field_tag :email %>
password: <%= password_field_tag :password %>
<%= submit_tag "Login" %>

<% end %>
