/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.nav-b {
	background-color:#F0DFB2;
	opacity: 0.88;

}



.head-er {
	 position: relative; 
   	 width: 100%;
}

.bann-er {
	position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%;
}

.fonted {
	font-family: 'Roboto Condensed', sans-serif;
}

.special-font {
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bigg-er {
	font-size: 700%;

}

.bigg-ed {
	font-size: 150%;
}

.bigg-en {
	font-size: 135%;

}

.magic {
	margin: auto;
	width: 100%;
}

.re-size {

	max-width: 855px;
	max-height: 485px;
}

.shrink {
	max-width: 425px;
	height: auto;
}

.specify {
	height: auto;
	height: 375px;
	width: 100%;
}



.video-size {
	width: 100%;
    height: auto;
    max-height: 485px;
    display: block;
	margin: 0 auto;
}

.center-text {
	text-align: center;
}

.right {
	float:right;
}

.left {
	float:left;
}

.res-ponsive {
	margin: auto;
	width: 100%
}


