<!DOCTYPE html>
<html>
<head>
	<title></title>

	<%= params %>

</head>
<body>
<p>AYYY BRUH</p>



<% @exercises.each do |e| %>
<p>
	ID #:  <%= e.id %> &nbsp;&nbsp;&nbsp;	
   Notes: <%= e.notes %> &nbsp;&nbsp;&nbsp;
</p> 
<% end %>



<% console %>
</body>
</html>