<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
THE NEW PAGE

<%= form_for @exercise do |f| %>
	<div>
		<%= f.label :Comments %>
		<%= f.text_field :notes %>
	</div>
	

	<div>
		<%= f.submit %>
	</div>
<% end %>


<% console %>
</body>
</html>