<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>
<br><br>




<br><br>
not sure if this view for show is important at all
EZ wider
<br><br>
	<br>
	yo sup
	<br><br><br>


<div class="re-size">
	<video src="<%= @exercise.video %>" class="video-size" controls></video>
			<br>
	<div class="center-text">
		Exercise Name: 	<%= @exercise.title %>
			<br><br>
		Notes: <%= @exercise.notes %>
			<br><br><br><br>
	</div>
</div>






<% end %>


</body>
</html>