<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>
<br><br>




<br><br>
not sure if this view for show is important at all
EZ wider
<br><br>

<div>
	<video src="<%= @exercise.video %>" controls></video>
</div>

<%#raise @exercise.inspect %>
Exercise Name: 	<%= @exercise.title %>
<br>
Video String: <%= @exercise.video %>
<br>
Notes: <%= @exercise.notes %>





<%console%>
<% end %>
</body>
</html>