<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>
<br><br>
<%#= video_tag @exercise.video, :controls =>true %>

<%=video_tag(@exercise.video, size: "250x200", controls: true, autoplay: true, preload: "auto", :autobuffer => true)%>

<br><br>
not sure if this view for show is important at all
<br><br>
<%#raise @exercise.inspect %>
<%= @exercise.video %>



<% end %>
</body>
</html>