
<div class="container">
<div class="jumbotron">

<% if current_user %>
  <p class="left"> Hello <%= current_user.email %> 
  <p class="right">
  <%= link_to 'Logout', sessions_path, method: :delete, data: {confirm: 'Are you sure you want to logout?'} %> 
  </p>

  </p>
  <h2 class="center-text">APP NAME</h2>
  
<% else %>
  
<div>
  Please <%= link_to 'Login', login_form_path %>
<br>
  Or <%= link_to 'Sign Up', new_user_path %>


  </div>
<% end %>
</div>
</div>